# .env.example
# Токен бота (получить у @BotFather)
TELEGRAM_BOT_TOKEN=7330339638:AAGTMJmANqau4-7ucGW8wTa_rPMb_f5uVF8

# ID администраторов через запятую
ADMIN_IDS=5618005272, 1179013374

# Часовой пояс
TZ=Europe/Moscow